:root {
  --quiz-button-color: #0077ff;
  --quiz-button-color-hover: #015281;
  --quiz-button-disabled: #aaaaaa;

  --progress-bar-color: #22aa22;
  --progress-bar-background: #e0e0e0;

  --question-button-color: #e0e0e0;
  --question-button-color-hover: #003369;
  --question-button-color-selected: #0057b4;
  --question-button-text-color: #161616;
  --question-button-text-color-hover: #ffffff;
  --question-button-text-color-selected: #ebebeb;

  --question-input-background: #ffffff;
  --question-input-border: #ddd;
  --question-input-text: #000000;
  --question-input-text-placeholder: #404040;
  --question-input-border-focus: #007bff;

  --question-wrapper-background: #ffffff;
  --question-wrapper-header-text: #333333;
  --question-wrapper-text: #555555;

  --question-item-background: #ffffff;
  --question-item-border: #ddd;
  --question-item-text: #333333;

  --header-background-color: #18253d;

  --menu-button-color: #007bff;
  --menu-button-color-hover: #00356d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  transition: all 0.3s ease;
  background-color: var(--header-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-button {
  background-color: var(--menu-button-color);
}

.menu-button:hover {
  background-color: var(--menu-button-color-hover);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.api-key {
  max-width: 1200px;
  width: 95%;
  margin: 40px auto;
  padding: 40px;
  background-color: var(--question-wrapper-background);
  border-radius: 10px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
}

.api-key h1 {
  color: var(--question-wrapper-header-text);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.api-key p {
  color: var(--question-wrapper-text);
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

.api-key-wrapper {
  padding: 25px;    
  transition: all 0.3s ease;           
  background-color: var(--question-item-background);
  color: var(--question-item-text);
  border: 1px solid var(--question-item-border);
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.api-key-input {
  color: var(--question-input-text);
  background-color: var(--question-input-background);
  border-color: var(--question-input-border);
  border: 1px solid var(--question-input-border);
}

.api-key-input::placeholder {
  color: var(--question-input-text-placeholder);
}

.api-key-input:focus {
  transition: all 0.3s ease;
  border-color: var(--question-input-border-focus);
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
}