:root {
  --quiz-button-color: #0077ff;
  --quiz-button-color-hover: #015281;

  --question-button-color: #e0e0e0;
  --question-button-color-hover: #003369;
  --question-button-color-selected: #0057b4;
  --question-button-text-color: #161616;

  --question-button-text-color-hover: #ffffff;
  --question-button-text-color-selected: #ebebeb;

  --header-background-color: #18253d;

  --menu-button-color: #007bff;
  --menu-button-color-hover: #00356d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--header-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-button {
  background-color: var(--menu-button-color);
}

.menu-button:hover {
  background-color: var(--menu-button-color-hover);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
