/* Base styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;  
}

.results-container {
  max-width: 1200px;           
  width: 95%;                   
  margin: 40px auto;            
  padding: 40px;                
  background-color: #f4f6f9;   
  border-radius: 10px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
}

/* Header styling */
.header {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 2rem;             
  font-weight: bold;
  margin-bottom: 20px;
}

/* Main content styling */
.main-content {
  padding: 20px;
}

.career-section {
  margin-bottom: 20px;
}

.career-section h2 {
  color: #333;
  font-size: 1.5rem;            
  font-weight: 600;
  margin-bottom: 10px;
}

.career-section span {
  color: #007bff;
}

.career-section p {
  color: #000;
  font-size: 1.1rem;
}


.career-detail p {
  color: #000; 
  font-size: 1rem;
}


.graph-section {
  margin-bottom: 20px;
}

.graph {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 20px;
}

.bar-container {
  text-align: center;
}

.bar {
  width: 40px;
  background-color: #007bff;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  transition: height 0.3s ease-in-out;
}

.bar-label {
  position: absolute;
  bottom: 5px;
}

.bar-title {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #333;
}


.detailed-graphs-section {
  margin-bottom: 30px;
}
.detailed-graphs-section h3{
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.career-detail {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.career-detail h3 {
  margin-bottom: 10px;
  color: #007bff;
  font-size: 1.2rem;
}

.detail-graph {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.detail-bar {
  background-color: #007bff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 6px;
  transition: width 0.3s ease-in-out;
}

.detail-bar-label {
  padding: 5px;
  font-size: 0.9rem;
}

/* Alternatives section styling */
.alternatives-section ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #000;
}

.alternatives-section h3 {
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Footer styling */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border-radius: 0 0 8px 8px;
  margin-top: 20px;
}

/* Reset button styling */
.reset-button {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #0056b3;
}
