html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Add some padding */
}

header {
    text-align: center;
    margin-bottom: 0; /* Minimal space below the header */
    padding-top: 20px; /* Add space from the top */
}

h1 {
    margin: 0; /* Remove margin to bring it closer to the top */
}

.button-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the button container vertically */
    flex-grow: 1; /* Make this section take up remaining space */
    width: 100%;
}

.button-container {
    display: flex;
    width: 100%; /* Full width */
    justify-content: space-between; /* Space out the buttons */
}

.left-button, .right-button {
    width: 48%; /* Each button section takes up nearly half of the container */
    text-align: center; /* Center text for better presentation */
}

p {
    margin-top: 20px; /* Increased spacing above the paragraph */
}

/* Add hover effects for the buttons */
.quiz_button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 320px;
    height: 60px;
    font-size: 30px;
    background-color: var(--quiz-button-color);
}

.quiz_button:hover {
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 320px;
    height: 60px;
    font-size: 30px;
    background-color: var(--quiz-button-color-hover);
}

button {
    background-color: var(--question-button-color);
    color: var(--question-button-text-color);
}

button:hover {
    background-color: var(--question-button-color-hover); /* Bootstrap blue for hover */
    transform: scale(1.05); /* Slight scaling effect */
    color: var(--question-button-text-color-hover); /* White text on hover */
}

/* Mobile responsive design */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center;
    }

    .left-button, .right-button {
        width: 80%; /* Reduce button width */
        margin-bottom: 20px; /* Add space between stacked buttons */
    }
}
